body {
  padding-top: 70px;
  padding-bottom: 40px;
}

.container{
  max-width: 820px;
}

.jumbotron{
  font-family: 'Great Vibes', cursive;
  font-size:250%
}

#firstLetter{
  font-family: 'Great Vibes', cursive;
  font-size:300%
}

#editTd{
  width: 40px;
  padding-left: 0px;
  padding-right: 0px;
}

#deleteTd{
  width: 40px;
  padding-left: 0px;
  padding-right: 0px;
}