<html ng-app="allQuotes" ng-csp>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/css/showAllQuotes.css">
        <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/config.js"></script>
        <script type="text/javascript" src="/js/quoteManager.js"></script>
        <script type="text/javascript" src="/js/login.js"></script>
        <script type="text/javascript" src="/js/md5.js"></script>
        <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
        <script type="text/javascript" src="/js/controllers.js"></script>
        
    </head>
    <body ng-controller="AllQuotesController">


    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">All Quotes</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" ng-click="loginHandler();">{{loginText}}</a></li>
          </ul>
        </div>
      </div>
      
    </div>

      
    <div class="container">
      <div class="alert alert-info alert-dismissable" ng-show="!loggedIn && !closeLoginWarning">
        <button type="button" id="closeButton" class="close" ng-click="hideLoginStatusWarning();">&times;</button>
        You are logged out. You risk losing your quotes if you're not signed in
      </div>
      
      <div class="jumbotron">
<!--   <span id="firstLetter">T</span>he scientific theory I like best is that the rings of Saturn are composed entirely of lost airline luggage.
        <p style="float:right; font-family: 'Helvetica'; color: #8e8e8e; font-size: 50%;">-Mark Russell</p>-->
        <img src="/images/Quote2b.png">
      </div>
    </div> 
    
    <div class="container">
      <div>
        <button id="addQuoteIcon" class="noBorder" ng-click="addQuote();"></button>
        <input id="searchQuotes" type="text" class="form-control" placeholder="Search for a quote" ng-model="query">
      </div>
      
      <table class="table">
        <tr ng-repeat="quote in quotes | filter:query track by $index">
          <td class="glyphicon glyphicon-leaf" style="color: grey;"></td>
          <td id="{{quote.hash}}"  ng-class="checkHighlight($index);" ng-show="isEditModeOff($index);">{{quote.text}}</td>
          
          <td ng-show="!isEditModeOff($index);">
            <textarea name="editQuote" ng-model="quote.text" on-enter="editQuote($index)" placeholder=" Enter your quote here" style="width:100%;"></textarea>
          </td>

          <td id="editTd">
            <button type="button" class="btn btn-link noBorder" ng-click="editQuote($index)">
              <span ng-class="editButtonCss($index);"></span>
            </button>
          </td>

          <td id="deleteTd">
            <button type="button" ng-class="deleteButtonCss($index);" ng-click="deleteQuote($index)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </table>
      
      <p id="emptyListMessage" ng-show="isEmptyListMessage();">You haven't added any quotes as yet. Select a chunk of text while browsing, right click and click on 'Add to Quotsy' to add a quote. Or click on the + sign above to enter one.</p>
    </div>

    </body>
</html>

